@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --screen-color: #49cce4;
  --body-color: #ed5564;
  --data-highlight: #67bccb;
}

html {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  padding: 1%;
}

body {
  align-items: center;
  background-color: var(--body-color);
  border-radius: 20px;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto 1rem auto;
  max-width: 425px;
  padding: 3%;
  width: 100%;
}

.pokedex {
  background-color: var(--screen-color);
  border-radius: 20px;
  border: 5px solid gray;
  height: 100%;
  padding: 5%;
  width: 100%;
}

.data-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2%;
  height: 80%;
  justify-content: center;
  margin-bottom: 10%;
  width: 100%;
}

#img-container {
  height: 30%;
  width: 100%;
}

#img-container img {
  display: block;
  height: 100%;
  margin: 0 auto 0 auto;
  object-fit: contain;
  width: 100%;
}

.stats-table {
  height: 60%;
  width: 100%;
}

.stats-table {
  border-collapse: collapse;
}

.stats-table :where(td, th) {
  background-color: var(--data-highlight);
  border: 1px solid var(--screen-color);
  text-align: center;
  width: 50%;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
}

.search {
  align-items: center;
  background-color: var(--screen-color);
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 15%;
  justify-content: center;
  width: 100%;
}

#search-input {
  height: 40%;
  width: 100%;
  background-color: var(--screen-color);
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  padding: 2%;
}

#search-button {
  background: none;
  border: none;
  width: 50%;
}

#search-button img {
  background-color: red;
  border-radius: 50%;
  border: 1px solid black;
  padding: 5%;
}
